/* 
    Document   : datatables
    Created on : Oct 9, 2012, 1:47:27 PM
    Author     : kamil
    Description:
        Purpose of the stylesheet follows.
*/

#datatable {
    margin-bottom: 20px;
}



div.dataTables_length {
    float: left;
    margin-bottom: 20px;
}
 
div.dataTables_filter {
    /* float: right; */
    margin-left:60%;
}
 
div.dataTables_info {
    float: left;
}
/*
 * Pagination
 */
div.dataTables_paginate {
    float: right;
}

a.paginate_button,
a.paginate_active {
	display: inline-block;
	background-color: transparent;
	padding: 2px 5px;
	margin-left: 6px;
	font-size: 85%;
	cursor: pointer;
	*cursor: hand;      
}

a.paginate_active {
	border: 1px solid black;
	font-size: 85%;
}

a.paginate_button_disabled {
	
	font-size: 85%;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
        color: #000;
}

div.dataTables_paginate span>a {
	width: 15px;
	text-align: center;
}

